"*":
  "atom-package-deps":
    ignored: [
      "atom-typescript"
    ]
  core:
    telemetryConsent: "no"
  editor:
    fontFamily: "Fira Code"
    fontSize: 18
    invisibles:
      cr: ""
      eol: ""
      space: "."
      tab: "⋈"
    lineHeight: 2
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "97bf76c5-dca7-4c9c-b491-5d0c2526ef0f"
  "linter-ui-default":
    showPanel: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
